{% extends 'base.html' %}
{% block content %}
  <h1 class="my-4">Available Quizzes</h1>
  <div class="row">
    {% for topic in topics %}
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{ topic }}</h5>
            <a href="{{ url_for('quiz', topic=topic) }}" class="btn btn-primary">Start Quiz</a>
            <a href="{{ url_for('delete_quiz', topic=topic) }}" class="delete-btn" onclick="return confirm('Are you sure you want to delete this quiz?')">
              <svg xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
                <g fill="none">
                  <path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                  <path fill="currentColor" d="M20 5a1 1 0 1 1 0 2h-1l-.003.071l-.933 13.071A2 2 0 0 1 16.069 22H7.93a2 2 0 0 1-1.995-1.858l-.933-13.07L5 7H4a1 1 0 0 1 0-2zm-3.003 2H7.003l.928 13h8.138zM14 2a1 1 0 1 1 0 2h-4a1 1 0 0 1 0-2z" />
                </g>
              </svg>
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

  <button type="button" class="btn btn-outline position-fixed" style="bottom: 20px; right: 20px;color: green;" data-toggle="modal" data-target="#addQuiz">
    <svg xmlns="http://www.w3.org/2000/svg" width="3em" height="3em" viewBox="0 0 24 24">
      <path fill="currentColor" d="M13 19c0 1.1.3 2.12.81 3H6c-1.11 0-2-.89-2-2V4a2 2 0 0 1 2-2h1v7l2.5-1.5L12 9V2h6a2 2 0 0 1 2 2v9.09c-.33-.05-.66-.09-1-.09c-3.31 0-6 2.69-6 6m7-1v-3h-2v3h-3v2h3v3h2v-3h3v-2z" />
    </svg>
  </button>

  <div class="modal fade" id="addQuiz" tabindex="-1" role="dialog" aria-labelledby="addQuizLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addQuizLabel">Create a New Quiz</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <form id="createQuizForm" action="{{ url_for('create_quiz', topic='new_topic') }}" method="post" style="padding: 40px;">
            <div class="form-row align-items-center">
              <div class="col-12 mb-3">
                <label for="new_topic" style="font-size: 1.5em; font-weight: bold;">📝 Topic:</label>
                <input type="text" class="form-control p-3" id="new_topic" name="new_topic" placeholder="Enter topic for a quiz" required style="font-size: 1.2em;" />
              </div>
              <div class="col-12">
                <button type="submit" class="btn btn-success p-2" id="generateQuizBtn" style="font-size: 1.2em;">Generate Quiz by AI 🚀</button>
              </div>
              <div class="col-auto mt-3">
                <div id="loading" style="display: none;">
                  <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                  Loading...
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById('createQuizForm').addEventListener('submit', function () {
      document.getElementById('generateQuizBtn').style.display = 'none'
      document.getElementById('loading').style.display = 'inline-block'
    })
  </script>

  <style>
    .delete-btn {
      position: absolute;
      top: 5px;
      right: 10px;
      color: #ff0000;
      font-size: 1.2em;
    }
    
    .delete-btn:hover {
      color: #ff0000;
    }
  </style>
{% endblock %}
